# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\springboot_3_1_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
